# MongoDB
MONGO_INITDB_ROOT_USERNAME=mongo_user
MONGO_INITDB_ROOT_PASSWORD=mongo_pass_seguro

# URI de conexión (usa el nombre del servicio 'mongo' de Docker Compose)
MONGO_URI=mongodb://mongo_user:mongo_pass_seguro@mongo:27017/recipehub?authSource=admin

# JWT
JWT_SECRET=cambia_esto_por_algo_largo_y_aleatorio_en_produccion

# URL del frontend para CORS
FRONTEND_URL=https://app.recipehub.me
