# Puerto donde corre la API
PORT=4000

# URI de conexión a MongoDB (en Docker usa el nombre del servicio 'mongo')
MONGO_URI=mongodb://mongo_user:mongo_pass@mongo:27017/recipehub?authSource=admin

# Secreto para firmar los JWT (cámbialo en producción por algo largo y aleatorio)
JWT_SECRET=supersecretkey_cambiame_en_produccion

# Credenciales del usuario root de MongoDB
MONGO_INITDB_ROOT_USERNAME=mongo_user
MONGO_INITDB_ROOT_PASSWORD=mongo_pass
